<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  
  
<connectionStrings><add name="LNStoneDbEntities" connectionString="metadata=res://*/Models.Stone.csdl|res://*/Models.Stone.ssdl|res://*/Models.Stone.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-T1S6GTS\MYSQLSERVER1;initial catalog=LNStoneDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>